/* MIX */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.pad-tb{
  padding:20px 0;
}
@media all and (min-width: 1201px){
  .aside{
    width: 10%;
  }
  .main{
    width: 90%;
  }
  .pad-lr{
    padding:0 20px;
  }
}
@media all and (min-width: 993px) and (max-width: 1200px){
  .aside{
    width: 12%;
  }
  .main{
    width: 88%;
  }
  .pad-lr{
    padding:0 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px){
  .aside{
    width: 20%;
  }
  .main{
    width: 80%;
  }
  .pad-lr{
    padding:0 20px;
  }
}
@media screen and (max-width: 768px){
  .aside{
    width: 20%;
  }
  .main{
    width: 80%;
  }
  .pad-lr{
    padding:0 10px;
  }
  .aside-list-two{
    display: none;
  }
  .jhon hr{
    display: none;
  }
}
/* MIX */

.all::after{
  clear: both;
  content: "";
  display: table;
}
/*Navbar laterale*/
.aside{
  height: calc(100vh - 100px);
  background-color: red;
  float: left;
  position: relative;
}
.aside-list-two{
  height: 40%;
  overflow-y: auto;
}
.jhon{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
}
/*Navbar laterale*/

/* Main */
.main{
  height: calc(100vh - 100px);
  background-color: black;
  float: left;
}
/* Main */

/* Footer */
.footer{
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 1;
  background-color: green;
}
/* Footer */
