/* MIX */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.pad-tb{
  padding:20px 0;
}
.marg{
  margin: 30px 15px;
}
@media all and (min-width: 1201px){
  .logo-small{
    display: none;
  }
  .aside{
    width: 10%;
  }
  .main{
    width: 90%;
  }
  .pad-lr{
    padding:0 20px;
  }
  .main-top{
    width: 90%;
  }
  .main-bottom-list li{
    padding: 20px 0;
  }
  .main-bottom-list a{
    font-size: 15px;
  }
  .footer-left-logo{
    padding-left: 100px;
  }
}
@media all and (min-width: 993px) and (max-width: 1200px){
  .logo-small{
    display: none;
  }
  .aside{
    width: 12%;
  }
  .main{
    width: 88%;
  }
  .pad-lr{
    padding:0 20px;
  }
  .main-top{
    width: 88%;
  }
  .main-bottom-list li{
    padding: 20px 0;
  }
  .main-bottom-list a{
    font-size: 15px;
  }
  .footer-left-logo{
    padding-left: 80px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px){
  .logo-small{
    display: none;
  }
  .aside{
    width: 20%;
  }
  .main{
    width: 80%;
  }
  .pad-lr{
    padding:0 20px;
  }
  .main-top{
    width: 80%;
  }
  .main-bottom-list li{
    padding: 16px 0;
  }
  .main-bottom-list a{
    font-size: 15px;
  }
  .footer-left-logo{
    padding-left: 70px;
  }
}
@media screen and (max-width: 768px){
  .logo-big{
    display: none;
  }
  .aside{
    width: 20%;
  }
  .main{
    width: 80%;
  }
  .pad-lr{
    padding:0 10px;
  }
  .aside-list-two{
    display: none;
  }
  .jhon hr{
    display: none;
  }
  .main-top{
    width: 80%;
  }
  .main-bottom-list li{
    padding: 5px 0;
  }
  .main-bottom-list a{
    font-size: 15px;
  }
  .footer-left-logo{
    padding-left: 40px;
  }
}
/* MIX */

.all::after{
  clear: both;
  content: "";
  display: table;
}
/*Navbar laterale*/
.logo{
  height: 100px;
  padding: 10px;
}

.logo-small{
  height: 30px;
  width:30px;
}
.aside-list img{
  height: 25px;
  width:25px;
  vertical-align:middle;
}
.small-square{
  height: 40px;
  width:40px;
  background-color: grey;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.small-square i{
  color: black;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#padd{
  padding-top:10px;
}
.aside{
  height: calc(100vh - 100px);
  background-color: red;
  float: left;
  position: relative;
}
.aside-list li{
  padding-top: 5px;
}
.aside-list-two{
  height: calc(100vh - 200px);
}
.playlist{
  height:30%;
  overflow-y: auto;
}
.aside-list-two li{
  padding-top: 5px;
}
.jhon{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  height: 60px;
}
/*Navbar laterale*/

/* Main */
.main{
  height: calc(100vh - 100px);
  background-color: white;
  float: left;
  position: relative;
}
.main-top{
  height: 100px;
  position: fixed;
  top:0;
  right: 0;
  z-index: 1;
  background-color: lightgrey;
}
.main-top-buttom{
  vertical-align: middle;
  line-height: 100px;
  float: right;
  padding-right: 20px;
}
.main-top-buttom a{
  border: 1px solid white;
  padding: 20px;
  border-radius: 30%;
}
.main-bottom{
  width: 100%;
  position: absolute;
  top:100px;
  overflow-y: auto;
  height:calc(100vh - 200px);
  background-color: yellow;
}
.main-bottom-list{
  text-align: center;
}
.main-bottom-list li{
  display: inline-block;
}
.square{
  display: none;
  background-color: green;
  width: 50%;
  height: 3px;
  margin: auto;
}
.main-bottom-list li:hover .square{
  display: block;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.square-two{
  height: 300px;
  width: 300px;
  position: relative;
}
.main-img{
  height: 300px;
  width: 300px;
}
.main-bottom-h2{
  margin-top:30px;
  margin-left: 15px;
}
.main-bottom-p{
  margin-left: 15px;
}
.main-bottom-text{
  position: absolute;
  left:50%;
  top:110%;
  transform: translate(-50%, -50%);
}
.play{
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0, 0.5);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.fa-play-circle{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color:white;
}
.square-two:hover .play{
  display: block;
}

/* Main */

/* Footer */
.footer{
  height: 100px;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 1;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left{
  width:calc(100%/3);
}
.footer-left img{
  height: 60px;
  width: 60px;
}
.footer-left-text{
  display: inline-block;
  font-size: 15px;
  padding-left: 10px;
  position: relative;
  bottom:10px;
}
.footer-left-logo{
  display: inline-block;
  font-size: 20px;
  position: relative;
  bottom:20px;
}
.footer-center{
  width:calc(100%/3);
  text-align: center;
}
.footer-center-play{
  padding-left: 25px;
  font-size: 20px;
  color:white;
  padding: 10px 0;
}
.line{
  background-color: white;
  height:3px;
  width: 60%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.footer-center p{
  display: inline-block;
  font-size: 10px;
}
.footer-right{
  width:calc(100%/3);
  display: inline-block;

}
.line-two{
  background-color: white;
  height: 3px;
  width:30%;
  display: inline-block;

}
/* Footer */
